*.xml
.idea/workspace.xml.tmp
*.iml
*.idea
*__pycache__/*

RectangleDetectorOutput/*
!RectangleDetectorOutput/.gitkeep

SyntheticMixedNumberData/*
!SyntheticMixedNumberData/.gitkeep

CellClassifier/SyntheticCellData/images/
!CellClassifier/SyntheticCellData/images/.gitkeep

CellClassifier/IAM-data/words/*

*.ipynb
